{% extends "base.html" %}

{% block my-account_link %}
    <li class="active"><a href="/todos">My Account</a></li>{% endblock my-account_link %}

{% block content %}
    {% verbatim %}
    <div ng-controller="MyAccountController">
        <h2 class="sub-header">My Account</h2>
        <br/>
        <br/>
        <form ng-submit="save()" enctype="multipart/form-data" class="form-register">
            <label>Upload a profile picture
	        <input type="file" ng-model="photos" onchange="angular.element(this).scope().uploadFile(this.files)"/></label>
            <br/>
            <br/>
            <button type="submit" class="btn btn-success" value="Save">Update My Account</button>
        </form>
    </div>
    {% endverbatim %}
{% endblock content %}
